#container {
    background-color: darkgoldenrod;
    width: 100px;
    height: 100px;
}

div.myStyle {
    background-color: black!important;
    color: bisque;
    text-align: center;
    width: 100px;
    height: 100px;
}