
.item {
    list-style: none;
}
.item:hover {
    list-style: none;
    background-color: aquamarine;
}

/* div.myStyle {
    background-color: gray!important;
} */

.on {
    background-color: purple;
}